name: PR

on:
  pull_request:
    branches: [ "main", "hack" ]

jobs:

  build:
    permissions:
      contents: read  # This is required for actions/checkout
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.3'

    - name: Build
      run: make build

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9.2.0
      with:
        version: v2.7.2

    - name: Test
      run: make test
